.infomaker-page {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    color: #e0e0e0;
    box-sizing: border-box;
}

.infomaker-page p {
    margin: 2px 0;
    color:#777
}

.infomaker-page img {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 0;
}

/* Título principal */
.infomaker-page h1 {
    font-size: 2.5rem;
    color: #bb86fc;
    margin-bottom: 10px;
}

/* Labels */
.infomaker-page label {
    margin-top: 5px;
    font-weight: bold;
    display: block;
}

/* Inputs e Textareas - estilo unificado */
.infomaker-input,
.infomaker-textarea {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-family: inherit;
    background: #1c1c1c;
    color: #f0f0f0;
    border: 1px solid #bb86fc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin-top: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* Textarea específico */
.infomaker-textarea {
    min-height: 250px;
    resize: vertical;
}

.infomaker-textarea:disabled,
.infomaker-input:disabled {
    background-color: #2c2c2c;
    color: #757575;
}

.infomaker-textarea:focus,
.infomaker-input:focus {
    outline: none;
    border-color: #d5aaff;
    box-shadow: 0 0 0 2px rgba(187, 134, 252, 0.3);
}

/* Botões padrão */
.infomaker-button {
    padding: 12px 20px;
    background-color: #bb86fc;
    color: #121212;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}

.infomaker-button:hover {
    background-color: #9e6efc;
    transform: scale(1.02);
}

.infomaker-social-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #292929;
    padding: 6px 10px;
    border-radius: 6px;
}
