.infofootereditor-fieldset {
    border: 1px solid #444;
    border-radius: 8px;
    padding: 15px;
    margin-top: 16px;
}

.infofootereditor-input {
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    font-family: inherit;
    color: #e0e0e0;
    background-color: #1e1e1e;
    border: 1px solid #bb86fc;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.infofootereditor-input,
.infofootereditor-textarea {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #888;
    background: #1c1c1c;
    color: #f0f0f0;
    margin-top: 4px;
    margin-bottom: 12px;
}

/* Caixa de texto */
.infofootereditor-textarea {
    padding: 15px;
    font-size: 1rem;
    font-family: inherit;
    color: #e0e0e0; /* Texto claro */
    background-color: #1e1e1e; /* Fundo escuro */
    border: 1px solid #bb86fc; /* Borda roxa */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    margin-top: 20px;
    resize: none;
    width: 100%;
    min-height: 30vh;
    box-sizing: border-box;
}

.infofootereditor-textarea::placeholder {
    color: #757575; /* Cinza claro */
}

.infofootereditor-textarea {
    padding: 15px;
    font-size: 1rem;
    font-family: inherit;
    color: #e0e0e0; /* Texto claro */
    background-color: #1e1e1e; /* Fundo escuro */
    border: 1px solid #bb86fc; /* Borda roxa */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    margin-top: 20px;
    resize: none;
    width: 100%;
    min-height: 30vh;
    box-sizing: border-box;
}

.infofootereditor-socials-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 10px;
}

.infofootereditor-social-form {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}

.infofootereditor-social-form select,
.infofootereditor-social-form input {
    flex: 1;
}

.infofootereditor-select {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #888;
    background: #1c1c1c;
    color: #f0f0f0;
    margin-top: 4px;
    margin-bottom: 12px;
}