.shortcut-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
}

.shortcut-content {
    align-items: center;
    border-radius: 8px;
    background-color: #1e1e1e;
    padding: 20px 40px 20px 40px;
    color: #e0e0e0;
    width: 100%;
    align-items: start;
    box-sizing: border-box;
}

.shortcut-subcontent {
    align-items: center;
    border-radius: 8px;
    background-color: #1e1e1e;
    color: #e0e0e0;
    width: 100%;
    box-sizing: border-box;
}

.shortcut-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.shortcut-image {
    width: 100%;
    max-width: 110px;
    height: auto;
}

.shortcut-button {
    margin-top: 5px;
    background-color: #bb86fc;
    color: #121212;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.shortcut-button:hover {
    background-color: #9a67ea;
}

.shortcut-button:hover:not(:disabled) {
    transform: translateY(-2px);
}

.shortcut-button:disabled {
    background-color: #5e35b1;
    cursor: not-allowed;
}

.shortcut-button:focus {
    outline: 2px solid #bb86fc;
    outline-offset: 2px;
}

@media (max-width: 600px) {
    .shortcut-content h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shortcut-box {
        display: flex;
        flex-direction: column;
    }

    .shortcut-subcontent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        align-items: center;
    }
}